interactions:
- request:
    body: scope=REDACTED
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      RqUID:
      - af17e8b4-d861-45fc-a7e7-ae5996075e83
      authorization:
      - Bearer REDACTED
    method: POST
    uri: https://ngw.devices.sberbank.ru:9443/api/v2/oauth
  response:
    body:
      string: '{"access_token": "REDACTED", "expires_at": 4102444800000}'
    headers:
      Allow:
      - GET, POST
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      authorization:
      - Bearer REDACTED
    method: GET
    uri: https://gigachat.devices.sberbank.ru/api/v1/models
  response:
    body:
      string: '{"object": "list", "data": [{"id": "GigaChat", "object": "model", "owned_by":
        "salutedevices", "type": "chat"}, {"id": "GigaChat-2", "object": "model",
        "owned_by": "salutedevices", "type": "chat"}, {"id": "GigaChat-2-Max", "object":
        "model", "owned_by": "salutedevices", "type": "chat"}, {"id": "GigaChat-2-Max-preview",
        "object": "model", "owned_by": "salutedevices", "type": "chat"}, {"id": "GigaChat-2-Pro",
        "object": "model", "owned_by": "salutedevices", "type": "chat"}, {"id": "GigaChat-2-Pro-preview",
        "object": "model", "owned_by": "salutedevices", "type[...]
