interactions:
- request:
    body: scope=REDACTED
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      RqUID:
      - 9a3a11ff-aab6-43a6-a300-a85584d99327
      authorization:
      - Bearer REDACTED
    method: POST
    uri: https://ngw.devices.sberbank.ru:9443/api/v2/oauth
  response:
    body:
      string: '{"access_token": "REDACTED", "expires_at": 4102444800000}'
    headers:
      Allow:
      - GET, POST
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      authorization:
      - Bearer REDACTED
    method: GET
    uri: https://gigachat.devices.sberbank.ru/api/v1/models/GigaChat
  response:
    body:
      string: '{"id": "GigaChat", "object": "model", "owned_by": "salutedevices",
        "type": "chat"}'
    headers:
      Allow:
      - GET, POST
      Content-Type:
      - application/json; charset=utf-8
      X-Session-Id:
      - 4760938b-44a9-49b2-9f9a-3c64194bb4aa
    status:
      code: 200
      message: OK
version: 1
