interactions:
- request:
    body: scope=REDACTED
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      RqUID:
      - 44dbdf01-294b-4231-927c-2facd4ed6d9b
      authorization:
      - Bearer REDACTED
    method: POST
    uri: https://ngw.devices.sberbank.ru:9443/api/v2/oauth
  response:
    body:
      string: '{"access_token": "REDACTED", "expires_at": 4102444800000}'
    headers:
      Allow:
      - GET, POST
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      authorization:
      - Bearer REDACTED
    method: GET
    uri: https://gigachat.devices.sberbank.ru/api/v1/models/GigaChat
  response:
    body:
      string: '{"id": "GigaChat", "object": "model", "owned_by": "salutedevices",
        "type": "chat"}'
    headers:
      Allow:
      - GET, POST
      Content-Type:
      - application/json; charset=utf-8
      X-Session-Id:
      - 4eb080c4-76c0-4e28-bbd9-9e77bed67814
    status:
      code: 200
      message: OK
version: 1
