interactions:
- request:
    body: scope=REDACTED
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      RqUID:
      - 7ee4fd5c-3ed7-474c-83a7-0ef20acc8979
      authorization:
      - Bearer REDACTED
    method: POST
    uri: https://ngw.devices.sberbank.ru:9443/api/v2/oauth
  response:
    body:
      string: '{"access_token": "REDACTED", "expires_at": 4102444800000}'
    headers:
      Allow:
      - GET, POST
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      authorization:
      - Bearer REDACTED
    method: GET
    uri: https://gigachat.devices.sberbank.ru/api/v1/models/NonExistentModel
  response:
    body:
      string: '{"status": 404, "message": "No such model"}'
    headers:
      Allow:
      - GET, POST
      Content-Type:
      - application/json; charset=utf-8
      X-Session-Id:
      - d3ee691c-adeb-424f-8a0c-c780f10ef835
    status:
      code: 404
      message: Not Found
version: 1
