interactions:
- request:
    body: scope=REDACTED
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      RqUID:
      - e509f2d4-560c-4d53-9546-986eed4f2f44
      authorization:
      - Bearer REDACTED
    method: POST
    uri: https://ngw.devices.sberbank.ru:9443/api/v2/oauth
  response:
    body:
      string: '{"access_token": "REDACTED", "expires_at": 4102444800000}'
    headers:
      Allow:
      - GET, POST
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"input": ["Hello, world!"], "model": "Embeddings"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - Bearer REDACTED
    method: POST
    uri: https://gigachat.devices.sberbank.ru/api/v1/embeddings
  response:
    body:
      string: '{"object": "list", "model": "Embeddings", "data": [{"object": "embedding",
        "index": 0, "embedding": [0.53857421875, -0.568359375, 0.1676025390625, -1.1044921875,
        1.208984375, -0.880859375, -0.8359375, 1.177734375, 1.6962890625, -0.9609375,
        0.494873046875, 0.66162109375, -1.330078125, -1.0830078125, -0.83056640625,
        -0.63916015625, 0.453125, 0.68212890625, -0.33642578125, 0.17724609375, -0.08721923828125,
        -0.8134765625, -0.5361328125, -1.5361328125, -0.6005859375, -0.0357666015625,
        -1.19921875, -0.78564453125, 0.0113983154296875, -1.60546875, 0.3471679687[...]
