interactions:
- request:
    body: scope=REDACTED
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      RqUID:
      - d314c6e4-2e9d-4af5-a30e-0a5d0c378c53
      authorization:
      - Bearer REDACTED
    method: POST
    uri: https://ngw.devices.sberbank.ru:9443/api/v2/oauth
  response:
    body:
      string: '{"access_token": "REDACTED", "expires_at": 4102444800000}'
    headers:
      Allow:
      - GET, POST
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"model": "GigaChat", "input": ["Hello, world!"]}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - Bearer REDACTED
    method: POST
    uri: https://gigachat.devices.sberbank.ru/api/v1/tokens/count
  response:
    body:
      string: '[{"object": "tokens", "tokens": 4, "characters": 13}]'
    headers:
      Allow:
      - GET, POST
      Content-Type:
      - application/json; charset=utf-8
      X-Session-Id:
      - 140fd981-1797-4056-b6a5-f8cf09bd2c4d
    status:
      code: 200
      message: OK
version: 1
