interactions:
- request:
    body: scope=REDACTED
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      RqUID:
      - e51f0e49-8ce9-4e94-b3e0-f21cafc97b06
      authorization:
      - Bearer REDACTED
    method: POST
    uri: https://ngw.devices.sberbank.ru:9443/api/v2/oauth
  response:
    body:
      string: '{"access_token": "REDACTED", "expires_at": 4102444800000}'
    headers:
      Allow:
      - GET, POST
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      authorization:
      - Bearer REDACTED
    method: GET
    uri: https://gigachat.devices.sberbank.ru/api/v1/models/NonExistentModel
  response:
    body:
      string: '{"status": 404, "message": "No such model"}'
    headers:
      Allow:
      - GET, POST
      Content-Type:
      - application/json; charset=utf-8
      X-Session-Id:
      - 2e0945ad-7e47-4b34-bc4a-532115471939
    status:
      code: 404
      message: Not Found
version: 1
