interactions:
- request:
    body: scope=REDACTED
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      RqUID:
      - cf9283bf-be49-4767-a82d-351e74f8e4fb
      authorization:
      - Bearer REDACTED
    method: POST
    uri: https://ngw.devices.sberbank.ru:9443/api/v2/oauth
  response:
    body:
      string: '{"access_token": "REDACTED", "expires_at": 4102444800000}'
    headers:
      Allow:
      - GET, POST
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"input": ["First text", "Second text"], "model": "Embeddings"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - Bearer REDACTED
    method: POST
    uri: https://gigachat.devices.sberbank.ru/api/v1/embeddings
  response:
    body:
      string: '{"object": "list", "model": "Embeddings", "data": [{"object": "embedding",
        "index": 0, "embedding": [0.88623046875, 0.367919921875, 0.314697265625, -1.2255859375,
        1.6533203125, -1.6220703125, -0.1064453125, 1.873046875, 1.392578125, -0.56298828125,
        1.1376953125, 0.1932373046875, -1.3095703125, -0.87841796875, -0.54345703125,
        -0.578125, -0.12548828125, 0.7216796875, 0.11224365234375, -0.1688232421875,
        0.0904541015625, -0.93310546875, 0.1357421875, -0.76611328125, -0.4375, 0.31982421875,
        -0.61376953125, -0.333740234375, -0.47314453125, -1.0810546875, -0.2[...]
