interactions:
- request:
    body: scope=REDACTED
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      RqUID:
      - 554fe0d6-f18a-424c-8a9a-5e4158c89b09
      authorization:
      - Bearer REDACTED
    method: POST
    uri: https://ngw.devices.sberbank.ru:9443/api/v2/oauth
  response:
    body:
      string: '{"access_token": "REDACTED", "expires_at": 4102444800000}'
    headers:
      Allow:
      - GET, POST
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"model": "GigaChat", "input": ["Hello, world!"]}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - Bearer REDACTED
    method: POST
    uri: https://gigachat.devices.sberbank.ru/api/v1/tokens/count
  response:
    body:
      string: '[{"object": "tokens", "tokens": 4, "characters": 13}]'
    headers:
      Allow:
      - GET, POST
      Content-Type:
      - application/json; charset=utf-8
      X-Session-Id:
      - 5a549c70-2c07-407a-912c-c606cdf64d59
    status:
      code: 200
      message: OK
version: 1
