interactions:
- request:
    body: scope=REDACTED
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      RqUID:
      - 87bf3858-ad4e-40b2-8928-92bd5301d2bf
      authorization:
      - Bearer REDACTED
    method: POST
    uri: https://ngw.devices.sberbank.ru:9443/api/v2/oauth
  response:
    body:
      string: '{"access_token": "REDACTED", "expires_at": 4102444800000}'
    headers:
      Allow:
      - GET, POST
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"model": "GigaChat", "input": ["Hello, world!"]}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - Bearer REDACTED
    method: POST
    uri: https://gigachat.devices.sberbank.ru/api/v1/tokens/count
  response:
    body:
      string: '[{"object": "tokens", "tokens": 4, "characters": 13}]'
    headers:
      Allow:
      - GET, POST
      Content-Type:
      - application/json; charset=utf-8
      X-Session-Id:
      - c45a62d3-f7f9-4ae3-affd-c98e426a253a
    status:
      code: 200
      message: OK
version: 1
