interactions:
- request:
    body: scope=REDACTED
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      RqUID:
      - b6685347-650e-4579-8958-e62df893eb9c
      authorization:
      - Bearer REDACTED
    method: POST
    uri: https://ngw.devices.sberbank.ru:9443/api/v2/oauth
  response:
    body:
      string: '{"access_token": "REDACTED", "expires_at": 4102444800000}'
    headers:
      Allow:
      - GET, POST
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"model": "GigaChat", "input": ["First text", "Second text"]}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - Bearer REDACTED
    method: POST
    uri: https://gigachat.devices.sberbank.ru/api/v1/tokens/count
  response:
    body:
      string: '[{"object": "tokens", "tokens": 2, "characters": 10}, {"object": "tokens",
        "tokens": 2, "characters": 11}]'
    headers:
      Allow:
      - GET, POST
      Content-Type:
      - application/json; charset=utf-8
      X-Session-Id:
      - d46c03cf-4da8-4ea0-9a85-8920b13d005f
    status:
      code: 200
      message: OK
version: 1
